$bbq-color: #720303;

* {
    font-family: 'Crete Round', serif;
}

body {
    background: #EEEEEE;
}

.navbar-brand-bbq {
    color: $bbq-color;
}

a,
a:link,
a:visited {
    color: $bbq-color;   
}
 
a:hover,
a:active  {
     color: $bbq-color;   

}

/* http://stackoverflow.com/questions/9245887/twitter-boostrap-2-how-to-get-responsive-design-to-place-sidebar-on-the-bottom */

#sidebar {
    margin-left:3em;
    display: inline-block;

}

#content {
    margin-left:2em;
    display: inline-block;
}


@media (max-width: 767px) {
    #sidebar {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;    }

    #content {
        float:right;
        margin-left:0;
    }
}

.logo {
    padding-bottom: 1em;
}

.team-nav {
    a {
        color:#333333;
    }
}

#total-bbq {
    display:inline-block;
    text-align: center;
    color: #999999;
    line-height: 2em;
    div {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
         font-weight: 600;
         background: #222222;
         color: #FFFFFF;
         line-height: 1em;
         padding: .25em;
         border-radius: 5px; /* future proofing */
         display: inline-block;
         font-size: 5em;
    }
}

#off-bbq,
#def-bbq {
    display:inline-block;
    text-align: center;
    color: #999999;
    div {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
         font-weight: 600;
         color: #777777;
         line-height: 1em;
         padding: .25em;
         border-radius: 5px; /* future proofing */
         display: inline-block;
        font-size: 2em;

    }
}

   
