$bbq-color: #720303;

* {
    font-family: 'Crete Round', serif;
}

body {
    background: #EEEEEE;
}

.navbar-brand-bbq {
    color: $bbq-color;
}

a,
a:link,
a:visited {
    color: $bbq-color;   
}
 
a:hover,
a:active  {
     color: $bbq-color;   

}

.team-nav {
    a {
        color:#333333;
    }
}