* {
  font-family: 'Crete Round', serif; }

body {
  background: #EEEEEE; }

.navbar-brand-bbq {
  color: #720303; }

a,
a:link,
a:visited {
  color: #720303; }

a:hover,
a:active {
  color: #720303; }

.team-nav a {
  color: #333333; }
